/* Start Variables */
:root {
    --main-color: #00c7fc;
    --transparent-color: #00c7fc80;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    /* background-color: black; */
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container {
        width: 550px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        width: 750px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 980px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container {
        width: 1350px;
    }
}
/* End Global Rules */
/* Start Components */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    position: relative;
    font-size: 30px;
    letter-spacing: 2px;
    color: #1f2021;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.main-heading h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 100px;
    background-color: #1f2021;
    bottom: -30px;
}

.main-heading h2::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid #1f2021;
    background-color: white;
    bottom: -36px;
}

.main-heading p {
    width: 500px;
    font-size: 13px;
    line-height: 25px;
    color: #a8a8a8;
    font-weight: 300;
    margin: 0 auto 100px;
    max-width: 100%;
}
/* End Components */
/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header nav .toggle-menu {
    color: white;
    font-size: 14px;
}

@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}

header .container::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #ffffff;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
}

header .container a img {
    height: 60px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }

    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0,.5);
    }
    header nav  ul li a {
        padding: 15px !important;
    }

}


header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

header nav .form i {
    color: white;
    position: absolute;
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* End Header */
/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: black;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0,.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    background-color: var(--transparent-color);
    padding: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text h2 {
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}

.landing .text p {
    font-size: 13px;
    line-height: 28px;
    font-weight: 400;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}

@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Landing */